{% extends "layout.html" %}
{% block body %}
<div id="div_index" class="container" style="position: relative;">
    <div id="message_div" style="display: none; width: 100%;">
        <b id="message"></b>
    </div>
    <h3>Entries</h3>

    <span style="position: absolute; top: 0px; right: 0px;">

        <button class="waves-effect waves-light btn-large deep-purple accent-3" id="add_entry_button"><i
                class="material-icons left">add</i>Add Entry</button>
        <select class="browser-default" style="width: 200px" data-view="" id="select">

        </select>
        <label for="select">Sort by:</label>
    </span>


    <div id="form-overlay"></div>

    <div id="form_set_calories">
        <form id="set_calories_form" method="post">
            {% csrf_token %}
            <input type="number" id="new_calories" name="new_calories" placeholder="Set Calories"
                value="{{ user.per_day}}">
            <button class="btn deep-purple accent-3" id="new_calories_submit" type="">Submit</button>
        </form>

    </div>

    <div id="form_add_entry">
        <form id="my-form" method="post">
            {% csrf_token %}

            <input type="text" id="add_meal_name" name="add_meal_name" placeholder="Meal name" required>
            <input type="number" id="add_cal_num" name="add_cal_num" placeholder="Calories">
            <button class="btn deep-purple accent-3" type="" id="submit_entry">Add!</button>
        </form>
    </div>

    <div id="form_edit_entry">
        <form id="edit_entry_form" method="post">
            {% csrf_token %}

            <input type="hidden" id="edit_id" name="edit_id" required>
            <input type="hidden" id="user_id" name="user_id" required>
            <input type="text" id="edit_meal_name" name="edit_meal_name" placeholder="Meal name" required>
            <input type="number" id="edit_cal_num" name="edit_cal_num" placeholder="Calories">
            <button class="btn deep-purple accent-3" type="" id="edit_entry">Edit!</button>
        </form>
    </div>

    <div id="form_edit_user">
        <form id="user_entry_form" method="post">
            {% csrf_token %}

            <input type="hidden" id="edit_user_id" name="edit_user_id" required>
            <input type="email" id="edit_email" name="edit_email" placeholder="Email" required>
            <input type="number" id="edit_per_day" name="edit_per_day" placeholder="Per day">
            <button class="btn deep-purple accent-3" type="" id="edit_user">Edit!</button>
        </form>
    </div>

    <div id="div_entries"></div>
</div>
{% endblock %}