{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div id="message_div" style="display: none;">
        <b id="message"></b>
    </div>
    <h3>It worked!</h3>

    <div id="form-overlay"></div>

    <div id="form_set_calories">
        <form id="set_calories_form" method="post">
            {% csrf_token %}
            <input type="number" id="new_calories" name="new_calories" placeholder="Set Calories"
                value="{{ user.per_day}}">
            <button class="btn deep-purple accent-3" id="new_calories_submit" type="">Submit</button>
        </form>

    </div>

    <div id="form_add_entry">
        <form id="my-form" method="post">
            {% csrf_token %}
            <!-- Add your form fields here -->
            <div class="input-field">
                <select name="add_product_category" id="add_product_category" class="browser-default">
                    <option value="" disabled selected>Pick a category</option>
                    {% for category in categories %}
                    <option value="{{ category}}">{{ category}}</option>
                    {% endfor %}
                </select>
            </div>

            name = models.CharField(max_length=255)
            number = models.DecimalField(max_digits=16, decimal_places=2)
            timestamp = models.DateTimeField(auto_now_add=True)
            expected = models.BooleanField(default=False)

            <input type="text" name="add_meal_name" placeholder="Meal name">
            <input type="number" name="add_cal_num" id="add_cal_num">
            <input type="url" name="add_product_url" id="add_product_price" placeholder="Image Url">
            <button class="btn cyan darken-3" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}